


<ion-content id="background">
  <form #form="ngForm" (ngSubmit)="register(form)" method="post" id="form">
    <ion-item id="input">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input ngModel name="fName" ></ion-input>
    </ion-item>

    <ion-item id="input">
      <ion-label position="floating">User Name</ion-label>
      <ion-input ngModel name="UName"></ion-input>
    </ion-item>
  
    <ion-item id="input">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"></ion-input>
    </ion-item>
  
    <ion-item id="input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password"></ion-input>
    </ion-item>


    <ion-item id="input">
      <ion-label>Gender</ion-label>
      <ion-list radio-group (ngModel)="relationship">
        <ion-select value="f" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-list>
    </ion-item>

    <ion-item id="input">
      <ion-label>Country</ion-label>
      <ion-list radio-group (ngModel)="relationship">
        <ion-select value="maroc" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="maroc">Morocco</ion-select-option>
          <ion-select-option value="france">France</ion-select-option>
          <ion-select-option value="italy">Italy</ion-select-option>
          <ion-select-option value="spain">Spain</ion-select-option>
        </ion-select>
      </ion-list>
    </ion-item>

    <ion-item id="input">
      <ion-label>Birthday</ion-label>
      <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="warning" id="login"
          ><strong>Sign Up</strong></ion-button>
      </ion-col>
    </ion-row>
    <p id="account">Already have an account ?<a id="txt" [routerLink]="['/forgot-password']" class="small-text">Login In</a></p>
  </form>
  
</ion-content>
