<ion-content class="background">
  <div class="container">
    <img src="../../../../assets/images/logo.png"/>
    <form class="form">
      <ion-item id="test">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <br/>
      <ion-item id="pass">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button  [routerLink]="['/themes']" type="submit" color="warning" id="login"
            ><strong>Login</strong></ion-button
          >
          <br/>
          <a id="txt" [routerLink]="['/forgot-password']" class="small-text"
            >Forgot Password?</a>
          <br/>
          <ion-icon class="icon" name="logo-facebook" size="large" style="color: white;"></ion-icon>
          <ion-icon class="icon" name="logo-google" size="large" style="color: red;"></ion-icon>
          <ion-icon class="icon" name="logo-twitter" size="large" style="color:mediumturquoise;"></ion-icon>
          <a id="txt2" [routerLink]="['/signup']" class="small-text"
          >Already have an account? Signup</a>
        <br/>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
