<ion-content class="background">
  <div class="container">
    <form class="form">
      <ion-item id="test">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item id="pass">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="light" expand="block"
            >LogIn</ion-button
          >
          <a [routerLink]="['/forgot-password']" class="small-text"
            >Forgot Password?</a
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
