<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="log-out-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ThinKloud</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  
</ion-header>

<ion-content id="background">
  <ion-list>    
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../../assets/images/avatar.jpg">
      </ion-avatar>
      <ion-label>Item Avatar</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
