#background{
    --background: url(./../../../../assets/images/bg7.jpg) 0 0/100% 100% no-repeat;
}


#btn {
    padding-left: 65px;
}

ion-card-title {
    text-align: center;
}



#rooms {
    padding-left: 325px;
    width: 32px;
    height: 32px;
}