<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon style="color: blueviolet;" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profile']">
        <ion-icon id="rooms" style="color: blueviolet;" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rooms</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  
</ion-header>

<ion-content id="background">
  <ion-card >
    <ion-card-header>
      <ion-card-title>Computer Science</ion-card-title>
      <img src="../../../../assets/images/mbr-1076x715.jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      <h2 style="color: black;">Members : 2</h2>
      <ion-button style="width: 160px;" color="warning"><ion-icon name="reader-outline"></ion-icon>Timeline</ion-button>
      <ion-button style="width: 160px;" color="danger"><ion-icon name="call-outline"></ion-icon>Call</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Data science</ion-card-title>
      <img src="../../../../assets/images/mbr-506x337.jpg"/>
    </ion-card-header>
  
    <ion-card-content>
      <h2 style="color: black;">Members : 10</h2>
      <ion-button style="width: 160px;" color="warning"><ion-icon name="reader-outline"></ion-icon>Timeline</ion-button>
      <ion-button style="width: 160px;" color="danger"><ion-icon name="call-outline"></ion-icon>Call</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
