<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon style="color: blueviolet;" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/login']">
        <ion-icon id="out" style="color: blueviolet;" name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon id="rooms" style="color: blueviolet;" name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
  <ion-toolbar>
  </ion-toolbar>
  </ion-header>


<ion-content class="background" >
<ng-container >
  <div class="card">
    <div class="header">
      <div class="avatar">
        <ion-avatar >
          <img src="../../../../assets/images/avatar.png" alt="photo de profile">
        </ion-avatar>
      </div>

    </div>
    <div class="card-body">
      <h4>Fullname</h4>
      <p><b>Username : </b>test</p>
      <p><b>Email : </b>test</p>
      <p><b>Age : </b>23</p>
      <p><b>Country : </b>test</p>
      <p><b>Gender : </b>test</p>

      <hr>
    </div>
  </div>
</ng-container>
<ng-template #noUser>
  <ion-card-title>
    Oops Aucun utilisateur Trouvée ,Veuillez vous reconnecter 
  </ion-card-title>
</ng-template>

</ion-content>