ion-content {
    --background: url() no-repeat top center/cover fixed, #184fc2;
    position: relative;
    height: 100%;
    width: 100%;

    ion-button {
        margin-top: 1em;
        margin-bottom: 1em
    }
}

.background{
    --background: url(./../../../../assets/images/bg7.jpg) 0 0/100% 100% no-repeat;
}

#logout {
    width: 91%;
    height: 45px;
    border: none; /* <-- This thing here */
    border-radius: 10px;
    padding-left: 31px;
}

hr {
    border: 1px solid #f4f5fa!important;
    height: 0px !important;
    width: auto !important;
    visibility: visible !important;
  }

p{ 
    font-size: 15px;
    font-family: serif;
}

h4 {
    color: #fc6272 ;
    font-family: serif;
    font-weight: bold;
  }

.icon {
    font-size: 20px;
}


ion-toolbar {
    --background: transparent;
}


h4{
    text-align: center;
}


#rooms {
    padding-left: 325px;
    width: 32px;
    height: 32px;
}

#out {
    padding-left: 300px;
    width: 32px;
    height: 32px;
}



.card {
    margin: 0 auto;
    --background: url(./../../../../assets/images/bg7.jpg) 0 0/100% 100% no-repeat;
    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 160px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 6px solid #184fc2  ;
                background-color: #fff;
            }
        }
    }
}

.card-body {
    background-color: #ffffff;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: auto;

    .user-meta {
        padding-top: 40px;

        .playername {
            font-size: 24px;
            font-weight: 600;
            color: #303940;
        }

        .country {
            font-size: 90%;
            color: #949ea6;
            text-transform: uppercase;
            margin: 0 auto;
        }
    }
}